.label {
  position: absolute;
  top: 0;
  left: -120px;

  width: 120px;
  margin: 0;
  padding-inline-end: 1em;

  font-family: 'Raleway';
  font-size: 16px;
  font-weight: normal;
  text-align: end;

  color: #A2A2A2;

  transition: top .2s,
              left .2s;
}

.label-publication {
  line-height: 36px;
}

.label-skill {
  line-height: 22px;
}

.label-skill .br {
  display: block;

  transition: padding .2s;
}

@media (max-width: 480px) {
  .label {
    left: 0;

    text-align: start;
  }

  .label-summary {
    top: 1.25em;
  }

  .label-skill .br {
    display: inline;
    padding-inline-start: .325em;
  }
}
