.message {
  position: relative;

  display: inline-block;
  max-width: 4.5em;
  margin-bottom: -.375em;
  border-radius: .75em;
  padding: 1em;
  overflow: hidden;

  color: transparent;
  background-color: #F5F5F5;
}

.message::before {
  content: '';

  position: absolute;
  top: 1.5em;
  left: 1em;

  width: .5em;
  height: .5em;
  border-radius: 100%;
  opacity: .125;

  box-shadow: 1em 0 0 #000,
              2em 0 0 #000;

  background-color: #000;

  transition: opacity .5s;
}

.message .text {
  display: block;
  max-height: 1.5em;
  overflow: hidden;
}

.message .link {
  color: transparent;

  transition: color .3s ease .5s;
}

.message iframe,
.message .project {
  max-height: 3.5em;
  opacity: 0;
}

.message iframe {
  display: block;
  width: 16.6875em;
  border: 0;

  transition: max-height .5s,
              opacity .3s ease .5s
}

.message .projects {
  padding: 0;

  white-space: nowrap;
}

.message .project {
  position: relative;

  display: inline-block;
  width: 16.5em;
  height: 9.375em;
  margin-bottom: -.375em;
  border: 1px solid #F5F5F5;
  border-right: 0;

  background-position: center;
  background-size: cover;

  -webkit-transform: translateZ(0);
}

.message-array-three .project {
  max-width: 33.33%;
}

.message-array-four .project {
  width: 9.375em;
  max-width: 25%;
}

.message .project:last-child {
  border-right: 1px solid #F5F5F5;
  border-top-right-radius: .75em;
  border-bottom-right-radius: .75em;
}

@media (max-width: 480px) {
  .message-array-three .projects,
  .message-array-four .projects {
    white-space: normal;
  }

  .message-array-three .project,
  .message-array-four .project {
    max-width: 50%;
  }

  .message-array-three .project:first-child {
    width: 100%;
    max-width: 100%;
  }

  .message-array-three .project:first-child img {
    width: 100%;
    height: auto;
  }

  .message-array-three .project:first-child,
  .message-array-four .project:nth-child(2) {
    border-right: 1px solid #F5F5F5;
    border-top-right-radius: .75em;
  }

  .message-array-three .project:nth-child(n+2),
  .message-array-four .project:nth-child(n+3) {
    border-top: 0;
  }

  .message-array-three .project:last-child,
  .message-array-four .project:last-child {
    border-top-right-radius: 0;
  }
}

.message .firefox {
  background-image: url('../../public/img/firefox-640x360.png');
}

.message .gaia {
  background-image: url('../../public/img/home-app-640x360.png');
}

.message .marketplace-app {
  background-image: url('../../public/img/marketplace-app-640x360.png');
}

.message .muzik-air {
  background-image: url('../../public/img/muzik-air-360x360.png');
}

.message .muzik-online,
.message .muzik-study {
  background-color: #212121;
}

.message .muzik-online::before,
.message .muzik-study::before {
  content: '';

  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
}

.message .muzik-online::before {
  width: 135px;
  height: 27px;

  background-image: url('../../public/img/muzik-online-135x27.png');
}

.message .muzik-study::before {
  width: 130px;
  height: 29px;

  background-image: url('../../public/img/muzik-study-130x29.png');
}

.message .imusic {
  background-image: url('../../public/img/imusic-720x360.png');
  background-position-x: 47%;
}

.message .name {
  position: absolute;
  bottom: -4em;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 2.5em;
  padding: .5em 0;

  color: #FFF;
  background-color: rgba(0,0,0,.5);
}

.message .project:hover .name {
  height: 100%;

  background-color: rgba(0,0,0,.75);
}

.message .project:hover .project-link {
  background-color: rgba(30,136,229,.9);
}

.message .project:last-child .name {
  border-bottom-right-radius: .75em;
}

.message .image {
  display: block;
  width: 100%;
  height: 100%;

  transition: transform .2s;
}

.message .project:hover .image {
  transform: scale(1.25);
}

.message img {
  position: relative;
  top: 50%;
  left: 50%;

  width: auto;
  height: 100%;

  transform: translate(-50%, -50%);
}

.message-visible,
.message-client .message {
  max-width: 90%;

  transition: max-width 1s ease-in-out;
}

.message-visible::before {
  opacity: 0;
}

.message-visible .text,
.message-client .message .text {
  max-height: 4.5em;

  color: #000;

  transition: max-height .5s ease-in-out .8s,
              color .3s ease .5s;
}

.message-visible .link {
  color: #1E88E5;
}

.message-visible .project-link {
  text-decoration: none;

  color: #FFF;
}

.message-visible iframe,
.message-visible .project {
  max-height: 9.375em;
  opacity: 1;
}

.message-visible .project:nth-child(1) {
  transition: max-height .5s,
              opacity 1s ease .5s;
}

.message-visible .project:nth-child(2) {
  transition: max-height .5s,
              opacity 1s ease .75s;
}

.message-visible .project:nth-child(3) {
  transition: max-height .5s,
              opacity 1s ease 1s;
}

.message-visible .project:nth-child(4) {
  transition: max-height .5s,
              opacity 1s ease 1.25s;
}

.message-visible .name {
  bottom: 0;
}

.message-visible .project:nth-child(1) .name {
  transition: bottom .5s ease .5s,
              height .2s,
              background-color .2s;
}

.message-visible .project:nth-child(2) .name {
  transition: bottom .5s ease .75s,
              height .2s,
              background-color .2s;
}

.message-visible .project:nth-child(3) .name {
  transition: bottom .5s ease 1s,
              height .2s,
              background-color .2s;
}

.message-visible .project:nth-child(4) .name {
  transition: bottom .5s ease 1.25s,
              height .2s,
              background-color .2s;
}

.message-fullscreen {
  padding: 0;
}

@media (max-width: 320px) {
  .message .link {
    transition: color .3s ease .4s;
  }

  .message-visible,
  .message-client .message {
    transition: max-width .8s ease-in-out;
  }

  .message-visible .text,
  .message-client .message .text {
    transition: max-height .5s ease-in-out .6s,
                color .3s ease .4s;
  }
}
