.message-list {
  margin: 0;
  padding: 0;
}

.message-list li {
  list-style: none;
}

.message-client {
  text-align: right;
}

.message-server + .message-server,
.message-client + .message-client {
  margin-top: .125em;
}

.message-server + .message-client,
.message-client + .message-server {
  margin-top: 1em;
}

.message-server .message {
  border-bottom-left-radius: 0;
}

.message-client .message {
  border-bottom-right-radius: 0;

  background-color: #E3F2FD;
}

.message-server + .message-server .message {
  border-top-left-radius: 0;
}

.message-client + .message-client .message {
  border-top-right-radius: 0;
}
