.message {
  position: relative;

  display: inline-block;
  max-width: 4.5em;
  margin-bottom: -.375em;
  border-radius: .75em;
  padding: 1em;
  overflow: hidden;

  color: transparent;
  background-color: #F5F5F5;
}

.message::before {
  content: '';

  position: absolute;
  top: 1.5em;
  left: 1em;

  width: .5em;
  height: .5em;
  border-radius: 100%;
  opacity: .125;

  box-shadow: 1em 0 0 #000,
              2em 0 0 #000;

  background-color: #000;

  transition: opacity .5s;
}

.message .text {
  display: block;
  overflow: hidden;

  white-space: nowrap;

  transition: color .3s ease .5s;
}

.message .link {
  color: transparent;

  transition: color .3s ease .5s;
}

.message iframe {
  display: block;
  width: 16.6875em;
  border: 0;
  opacity: 0;

  transition: opacity .3s ease .5s
}

.message ul {
  max-height: 3.5em;
  padding: 0;
  overflow: hidden;

  transition: max-height .5s ease;
}

.message .project {
  position: relative;

  display: inline-block;
  width: 16.6875em;
  max-width: 33.3%;
  height: 9.375em;
  border-right: 1px solid #FFF;
  opacity: 0;

  background-position: center;
  background-size: cover;
}

.message .project:last-child {
  border-right: 0;
  border-top-right-radius: .75em;
  border-bottom-right-radius: .75em;
}

.message .project::before {
  content: '';

  position: absolute;
  bottom: 0;
  left: 0;

  width: 100%;
  height: 2.5em;
  opacity: .5;

  background-color: #000;
}

.message .firefox {
  background-image: url('../../public/img/firefox.jpg');
  transition: opacity 1s ease .5s;
}

.message .gaia {
  background-image: url('../../public/img/gaia.png');
  transition: opacity 1s ease .75s;
}

.message .marketplace-app {
  background-image: url('../../public/img/marketplace-app.png');
  transition: opacity 1s ease 1s;
}

.message .name {
  position: absolute;
  bottom: .5em;
  z-index: 1;

  width: 100%;

  text-align: center;

  color: #FFF;
}

.message-visible,
.message-client .message {
  max-width: 100%;

  transition: max-width 1s ease-in-out;
}

.message-visible::before {
  opacity: 0;
}

.message-visible .text,
.message-client .message .text {
  color: #000;
}

.message-visible .link {
  color: #1E88E5;
}

.message-visible iframe {
  opacity: 1;
}

.message-visible ul {
  max-height: 9.375em;
}

.message-visible .project {
  opacity: 1;
}

.message-fullscreen {
  padding: 0;
}
