.message {
  position: relative;

  display: inline-block;
  max-width: 4.5em;
  margin-bottom: -.375em;
  border-radius: .75em;
  padding: 1em;
  overflow: hidden;

  color: transparent;
  background-color: #F5F5F5;
}

.message::before {
  content: '';

  position: absolute;
  top: 1.5em;
  left: 1em;

  width: .5em;
  height: .5em;
  border-radius: 100%;
  opacity: .125;

  box-shadow: 1em 0 0 #000,
              2em 0 0 #000;

  background-color: #000;

  transition: opacity .5s;
}

.message ul {
  position: relative;

  max-height: 1.5em;
  padding-inline-start: 1em;

  transition: max-height .5s ease;
}

.message li::before {
  content: '';

  position: absolute;
  left: 0;

  width: .5em;
  height: 0;
  margin-top: .6875em;
  border-bottom: 1px solid transparent;

  transition: border .3s ease .5s
}

.message iframe {
  display: block;
  width: 267px;
  border: 0;
  opacity: 0;

  transition: opacity .3s ease .5s
}

.message .text {
  display: block;
  overflow: hidden;

  white-space: nowrap;

  transition: color .3s ease .5s;
}

.message .link {
  color: transparent;

  transition: color .3s ease .5s;
}

.message-visible,
.message-client .message {
  max-width: 100%;

  transition: max-width 1s ease-in-out;
}

.message-visible::before {
  opacity: 0;
}

.message-visible ul {
  max-height: 4.5em;
}

.message-visible li::before {
  border-bottom-color: #000;
}

.message-visible iframe {
  opacity: 1;
}

.message-visible .text,
.message-client .message .text {
  color: #000;
}

.message-visible .link {
  color: #1E88E5;
}

.message-fullscreen {
  padding: 0;
}
