.message-list {
  margin: 0;
  padding: 0;
}

.message-list > li {
  max-height: 0;
  overflow: hidden;

  list-style: none;

  transition: max-height .5s,
              margin .5s;
}

.message-list .message-server-visible,
.message-list .message-client-visible {
  max-height: 5em;
}

.message-list .message-multiline {
  max-height: 9.375em;
}

.message-client {
  text-align: end;
}

.message-server .message {
  border-bottom-left-radius: 0;
}

.message-client .message {
  border-bottom-right-radius: 0;

  background-color: #E3F2FD;
}

.message-server + .message-server .message {
  border-top-left-radius: 0;
}

.message-client + .message-client .message {
  border-top-right-radius: 0;
}

.message-client-visible {
  margin-top: 1em;
}

.message-server-visible + .message-server-visible,
.message-client-visible + .message-client-visible {
  margin-top: .125em;
}

.message-client-visible + .message-server-visible {
  margin-top: 1em;
}
